<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>北航未打卡学生信息解析</title>
</head>
<body>
<div style="text-align: center">
    <form method="post" action="/up_photo" enctype="multipart/form-data" style="margin-top: 300px;">
        <div style="width: 100%;text-align: center;margin-left: 135px;">
            <input type="file" name="photo" style="font-size: 40px;">
        </div>
        <br>
        <div style="width: 100%;text-align: center">
            <input type="submit" value="提交信息" class="button-new" style="margin-top:15px;font-size: 40px;"></div>
    </form>
</div>
</body>
</html>